.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border: none;
  background-color: transparent;
}

.main {
  width: 75vw;
  margin: auto;
}

.bouillon-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bouillon-item {
  height: auto;
}

.bouillon-btn {
  position: relative;
  width: 300px;
  height: 200px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.bouillon-btn span {
  display: block;
  position: absolute;
  width: 300px;
  height: 200px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.bouillon-btn span:nth-child(1) {
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -100px;
  -moz-transform-origin: 50% 50% -100px;
  transform-origin: 50% 50% -100px;
  background-size: contain;
}

.bouillon-img__meat {
  background: url('../assets/content/meat.png') no-repeat center;
}

.bouillon-img__fish {
  background: url('../assets/content/fish.png') no-repeat center;
}

.bouillon-img__chiken {
  background: url('../assets/content/chiken.png') no-repeat center;
}

.bouillon-btn span:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  background: rgb(0, 172, 238);
  background: linear-gradient(0deg, rgba(0, 172, 238, 1) 0%, rgba(2, 126, 251, 1) 100%);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -100px;
  -moz-transform-origin: 50% 50% -100px;
  transform-origin: 50% 50% -100px;
}

.bouillon-btn:hover {
  cursor: pointer;
}

.bouillon-btn:hover span:nth-child(1) {
  box-shadow: none;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.bouillon-btn:hover span:nth-child(2) {
  box-shadow: none;
  color: transparent;
  background: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}
